#adminID {
    -fx-align-items: center;
    -fx-appearance: menulist-button ;
    -fx-background-color: #0276FF;
    -fx-border-radius: 4px;
    -fx-border-style: none;
    -fx-box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    -fx-box-sizing: border-box;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-flex-shrink: 0;
    -fx-font-family: "RM Neue",sans-serif;
    -fx-font-size: 100%;
    -fx-line-height: 1.15;
    -fx-margin: 0;
    -fx-padding: 10px 0px;
    -fx-text-align: center;
    -fx-text-transform: none;
    -fx-transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    -fx-user-select: none;
    -fx-webkit-user-select: none;
    -fx-touch-action: manipulation;
}

#adminID:hover {
    -fx-background-color: #1C84FF;
}

#userID {
     -fx-align-items: center;
     -fx-appearance: menulist-button ;
     -fx-background-color: #2ea44f;
     -fx-border-radius: 4px;
     -fx-border-style: none;
     -fx-box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
     -fx-box-sizing: border-box;
     -fx-color: #fff;
     -fx-cursor: pointer;
     -fx-display: flex;
     -fx-flex-direction: row;
     -fx-flex-shrink: 0;
     -fx-font-family: "RM Neue",sans-serif;
     -fx-font-size: 100%;
     -fx-line-height: 1.15;
     -fx-margin: 0;
     -fx-padding: 10px 0px;
     -fx-text-align: center;
     -fx-text-transform: none;
     -fx-transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
     -fx-user-select: none;
     -fx-webkit-user-select: none;
     -fx-touch-action: manipulation;
}

#userID:hover {
    -fx-background-color: #2c974b;
}

#userID:disabled {
    -fx-background-color: #94d3a2;
    -fx-border-color: rgba(27, 31, 35, .1);
    -fx-color: rgba(255, 255, 255, .8);
    -fx-cursor: default;
}

#deliveryID {
    -fx-align-items: center;
    -fx-appearance: menulist-button ;
    -fx-background-color: #ff0000;
    -fx-border-radius: 4px;
    -fx-border-style: none;
    -fx-box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    -fx-box-sizing: border-box;
    -fx-color: #fff;
    -fx-cursor: pointer;
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-flex-shrink: 0;
    -fx-font-family: "RM Neue",sans-serif;
    -fx-font-size: 100%;
    -fx-line-height: 1.15;
    -fx-margin: 0;
    -fx-padding: 10px 0px;
    -fx-text-align: center;
    -fx-text-transform: none;
    -fx-transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    -fx-user-select: none;
    -fx-webkit-user-select: none;
    -fx-touch-action: manipulation;
}

#deliveryID:hover {
    -fx-background-color: #bd0000;
}

#fontWhite {
    -fx-text-fill: white;
}

#textfield {
    -fx-background-color: #ffffff;
    -fx-border-color: #3399ff;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: #938585;
    -fx-font-size: 15 px;
}

#textfield:focused {
    -fx-border-color: #3399ff;
}